<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>Slave</name>
  <description></description>
  <remoteFS>/var/lib/jenkins/</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.26">
    <host>172.31.47.122</host>
    <port>22</port>
    <credentialsId>a8693553-9990-4296-8c62-09ce284b7951</credentialsId>
    <maxNumRetries>0</maxNumRetries>
    <retryWaitTime>0</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
  </launcher>
  <label>slaves</label>
  <nodeProperties/>
</slave>